@model Jovera.Models.Item

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="Store" asp-page="/ManageItem/ProductDetails" asp-route-itemId="@Model.ItemId" asp-page-handler="UpdateItemQuantity" enctype="multipart/form-data">
                <div class="modal-body">

                    <input value="@Model.ItemId" type="hidden" id="EditHiddenItemId" />

                    <div class="row g-3">
                      
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.Quantity"
                                       class="form-label">@sharedResource["Quantity"]</label>
                                <input type="text" asp-for="@Model.Quantity" id="EditQuantityId"
                                       class="form-control"
                                       placeholder="@sharedResource["Enter Quantity"]" required />
                            </div>
                        </div>

                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Update Product Quantity"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>